{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Basic Calculator </title>
{% endblock %}

{% block title %}
  <h1>Basic Calculator</h1>

  <iframe height="500px" width="150%" src= {{embedbasic}} scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

{% block link1 %}
  <a href="https://github.com/PragadeeshRaj/BasicCalculator" class="btn">Calculator</a>
{% endblock %}
